*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

/* .element{
    animation: Pulse 10s 0s infinite;
    width: 120px;
    height: 120px;
    position: absolute;
    background-color: transparent;
}

@keyframes Pulse {
    0%{
        background-color: yellowgreen;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
    }
    25%{
        background-color: blue;
        
    }
    50%{
        background-color: blueviolet;
        bottom: 50%;
        left: 50%;
        right: 50%;
        
        
    }
    75%{
        background-color: hotpink;
        bottom: 75%;
        right: 75%;
    }
    100%{
        background-color: red;
        top: 100%;
        bottom:100%;
        left: 100%;
        right: 100%;
    }
} */
